body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #d32f2f;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;/* control the spaces between elements */
}
.search-bar input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}
.search-bar button
{
    padding: 8px 12px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search-bar .heart, .search-bar .cart,.search-bar .profile{
    margin-left: 10px;
    font-size: 18px;
    color: #888;
    cursor: pointer;
}

/* ************************ */
.breadcrumb {
    color: #888;
    margin: 30px 60px 10px;
    font-size: 14px;
}

.cart-container {
    background: #fff;
    padding: 20px 40px;
    margin: 0 60px 40px;
    border-radius: 8px;
    border: 1px solid #eee;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px  #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    font-weight: bold;
}

.cart-item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-top: 15px;
}

.cart-item .product {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

.quantity input {
    width: 60px;
    padding: 5px;
    
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-actions button {
    padding: 10px 20px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 4px;
}

.cart-actions button:hover {
    background: #000;
    color: #fff;
}

.coupon {
    display: flex;
    gap: 10px;
    margin-left: 100px;
    }
.coupon input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.coupon button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.cart-total {
    
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    border-radius: 5px;
    margin-right: 100px;
    margin-bottom: 50px;
    float: right;
}

.cart-total h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
.cart-total p {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.checkout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}